

body{
    
    *{    
        margin:0px;
        padding: 0px;
    }
        overflow-x: hidden;
        scroll-behavior: smooth;
        background-image: linear-gradient(180deg,white 20%,darken(white,10%) 120%); 
        font-family: nth($tipo_fuente,2)
}