

#inicio{

    @include separador_secciones($margin_sections,$padding_sections);
        
        @media screen and (min-width:0px)and (max-width:576px){
            @include separador_secciones($margin_sections,$padding_sections/2);
        }
      
        h1{
       
            font-size: nth($size_fuente,1);
            font-weight: 700;
            color: darken($color_principal,20%);
            margin: 0vh 0ch 7vh 5vw;

            
            @media screen and (max-width:768px){
                font-size: nth($size_fuente,3);
                text-align: center;
            }
            @media screen and (min-width:0px)and (max-width:576px){
                font-size: nth($size_fuente,4);
                margin-bottom: 5vh;  
            }   
            
        }

    .inicio-container{
        display: flex;
        align-items: center;

        .description-container{
            display: flex;
            flex-direction: column;
            justify-content: center;

            h2{
                font-family: nth($tipo_fuente,1),nth($tipo_fuente,2);
                font-size: nth($size_fuente,4);
                font-weight: 600;
                padding-bottom: 2vh;
                color: lighten($color_principal,2%);
                    
                @media screen and (max-width:991px){
                    font-size: nth($size_fuente,5);
                }       
                @media screen and (max-width:768px){
                    text-align: center;   
                }

            }
            .slogan{
                margin: 3vh 0vh 1vh 0vh;
                color: darken($color_principal,10%);
                font-weight: 700;
            }
        }
        .image-container{ 
            
            img{
                display: block;
                margin: 0px auto;
                max-width: 300px;
                width: 80%;
            }
        }
    }
}

