// Header , Footer y titulos
$color_principal: #8842c1;
$color_secundario: rgb(255, 0, 128);

// Color Texto
$color_text_normal: darken(gray, 25%);
$color_text_head_foot: white;

// Fondo Card Servicios
$color_fondo_cards: darken(white, 2.5%) 

// pruebas
// $bg_principal : rgba($color1,0.5);
// $bg_secundario:lighten(mix($color1,$color2),45%)
// mix
// darken
// lighten
// saturate
// linear-gradient (color 1 color 2)  revisar documentacion