@import "../base/variables";
@import "../base/colores";
@import "../base/listas.scss";
@import "../base/mixins.scss";
@import "../base/extends.scss";
@import "../componentes/body";
@import "../componentes/header";
@import "../componentes/inicio";
@import "../componentes/nosotros";
@import "../componentes/servicios";
@import "../componentes/ingreso";
@import "../componentes/login";
@import "../componentes/footer";


