#nosotros {

    @include separador_secciones($margin_sections, $padding_sections);

    @media screen and (min-width:768px) and (max-width:991px) {
        @include separador_secciones($margin_sections*1.5, $padding_sections);
    }

    @media screen and (min-width:577px)and (max-width:768px) {
        @include separador_secciones($margin_sections*1.5, $padding_sections/1.5);
    }

    @media screen and (min-width:0px)and (max-width:576px) {
        @include separador_secciones($margin_sections/2, $padding_sections/2);
    }

    h2 {
        @include titulos_seccion(7vh, nth($size_fuente, 3));

        @media only screen and (max-width:991px) {
            text-align: center;
            padding: 7vh 0vh;
        }

        @media screen and (min-width:0px)and (max-width:576px) {
            font-size: nth($size_fuente, 5);
            padding: 5vh 0vh;
        }
    }

    .nosotros-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap-reverse;

        .text-container {

            p {
                color: $color_text_normal;
                font-family: nth($tipo_fuente, 1), nth($tipo_fuente, 2);
                font-size: nth($size_fuente_px, 2);
                font-weight: 600;
                text-align: left;
                margin-bottom: 5vh;

                @media only screen and (max-width:1200px) {
                    font-size: nth($size_fuente_px, 4);
                }

                @media only screen and (max-width:991px) {
                    text-align: center;
                    padding: 0 4vw;
                }

                @media screen and (min-width:0px)and (max-width:576px) {
                    font-size: nth($size_fuente_px, 5);
                    padding: 0 3vw;
                }
            }

        }

        .img-nosotros {
            img {
                max-width: 350px;
                width: 70%;
                display: block;
                margin: 0px auto;

                @media screen and (min-width:0px)and (max-width:576px) {
                    max-width: 280px;
                    width: 90%;
                }
            }
        }
    }
}