@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap');

//LISTAS

$tipo_fuente:
'Raleway', 
sans-serif,
'Roboto';

$size_fuente:
3rem,   //1
2.3rem, //2
2.5rem, //3
1.8rem, //4
1.5rem, //5
1.3rem; //6

$size_fuente_px:
22px,   //6   //1
20px,   //7  // 2
18px,   //8  //3 
16px,   //9  //4
15px,   //10 // 5
14px;   //11  // 6