header {
    
    background-color: $color_principal;
    padding: 0px 4vw;

    @media screen and (max-width:991px) {
        padding: 0px 2vw;
    }

    nav {
        padding: 0px 0px !important;

        .nav-container {

            .navbar-brand {
                font-family: nth($tipo_fuente, 2);
                font-size: nth($size_fuente, 3);
                font-weight: 700;
                color: $color_text_head_foot;
            }

            ul {
                li {
                    color: $color_principal !important;
                    font-weight: bolder;
                    padding: 10px 0px !important;

                    @media screen and (max-width:991px) {
                        padding: 0px 0px !important;
                    }

                    a {
                        font-family: nth($tipo_fuente, 2);
                        font-weight: 700;
                        color: $color_text_head_foot !important;
                        font-size: nth($size_fuente, 6);
                        padding: 10px 10px !important;
                        margin: 0px 15px;

                        &:hover {
                            background-color: lighten($color_principal, 10%);
                            border-radius: 10px;
                            -webkit-transition: all 1s;
                            -o-transition: all 1s;
                            -moz-transition: all 1s;
                            transition: all 1s;
                        }

                        @media screen and (max-width:991px) {

                            &:hover {
                                background-color: ($color_principal);
                                font-weight: 800;
                                -webkit-transition: all 1s;
                                -o-transition: all 1s;
                                -moz-transition: all 1s;
                                transition: all 1s;
                            }
                        }

                        @media screen and (max-width:1200px) {
                            padding: 5px 10px !important;
                            margin: 0px 5px;
                        }
                    }
                }
            }
        }
    }
}