#ingreso {
    
    display: flex;
    justify-content: center;
    padding-bottom: $padding_sections ;

    @include separador_secciones($margin_sections*2, $padding_sections/1.5);

    @media screen and (min-width:768px) and (max-width:991px) {
        @include separador_secciones($margin_sections*2, $padding_sections);
    }

    @media screen and (min-width:576px)and (max-width:768px) {
        @include separador_secciones($margin_sections*1.5, $padding_sections/2);
    }

    @media screen and (min-width:0px)and (max-width:576px) {
        @include separador_secciones($margin_sections/10, $padding_sections/1.5);
    }

    background-image: linear-gradient(180deg, #f4f4f4 30%, lighten($color_principal, 5%) 100%);

    .carrusel-container {

        .carousel-inner {

            .carousel-item {

                // text-align: center;

                .item-container {
                    display: flex;
                    justify-content: space-around;
                    margin-bottom: 5vh;

                    @media screen and (max-width:768px) {
                        flex-direction: column;
                        justify-content: center;
                        margin-bottom: 7vh;
                    }

                    @media screen and (min-width:0px)and (max-width:576px) {
                        flex-direction: column;
                        justify-content: center;
                        margin-bottom: 7vh;
                    }

                    img {
                        display: block;
                        width: 40%;
                        max-width: 350px;

                        @media screen and (min-width:576px) and (max-width:768px) {
                            max-width: 250px;
                            width: 90%;
                            margin: 0 auto;
                        }

                        @media screen and (min-width:0px)and (max-width:576px) {
                            width: 90%;
                            max-width: 200px;
                            margin: 0 auto;
                        }
                    }

                }

                .carousel-text {
                    margin: auto 0px;
                    width: 50%;
                    padding: 0px 2vw;

                    @media screen and (max-width:768px) {
                        width: 95%;
                        padding: 0px 2vw;
                        margin: 0 auto;

                    }

                    h2 {
                        text-align: center;
                        font-size: nth($size_fuente, 3);
                        margin: 2vh 0vh;
                        font-weight: 700;
                        color: darken($color_principal, 30%);


                        @media screen and (max-width:768px) {
                            font-size: nth($size_fuente_px, 1);
                        }

                    }

                    p {
                        text-align: center;
                        font-weight: 600;
                        color: darken(mix($color_principal, $color_secundario), 30%);
                        font-size: nth($size_fuente_px, 1);
                        font-family: nth($tipo_fuente, 1), nth($tipo_fuente, 2);


                        @media screen and (max-width:768px) {
                            font-size: nth($size_fuente_px, 3);
                            padding: 0 2vw;


                        }
                    }
                }
            }
        }
    }

    .boton {
        @extend %botones;
    }
}