#login {

    @include separador_secciones(0px, $padding_sections);
    padding-bottom: $padding_sections/2;

    @media screen and (min-width:577px) and (max-width:991px) {
        @include separador_secciones($margin_sections, $padding_sections/2);
    }

    @media screen and (min-width:0px)and (max-width:576px) {
        @include separador_secciones($margin_sections/5, $padding_sections);
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {

        max-width: 150px;
        width: 80%;
    }

    h1 {
        font-size: nth($size_fuente, 4);
        font-weight: 700;
        color: darken($color_principal, 20%);
        margin: 2vh 0vh;
        text-align: center;

        @media screen and (min-width:0px)and (max-width:768px) {
            font-size: nth($size_fuente, 5);
        }
    }

    .conteiner-login {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5vh 0vw;

        .form-container {
            width: 75%;
            min-width: 450px;

            @media screen and (min-width:0px)and (max-width:576px) {
                width: 85%;
                min-width: 270px;
            }

            form {
                .form-item {
                    display: block;
                    margin: 2vh auto 0vh auto;

                    label {
                        font-size: nth($size_fuente_px, 3);
                        font-weight: 500;

                    }

                    input {
                        border: 2px solid $color_principal ;
                        width: 100%;
                    }
                }
            }
        }

        .boton-container {
            display: flex;
            justify-content: center;
            margin-top: 5vh;

            .boton {
                @extend %botones;
            }
        }
    }
}